<div class="iframe-container">
  <iframe *ngIf="videoId" allowfullscreen [src]="'https://www.youtube.com/embed/' + videoId | safe" frameborder="0">
  </iframe>
  <div *ngIf="!videoId" class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>