.iframe-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-wrapper {
  transform: translate(-25px)
}

iframe {
  width: 100%;
  height: 300px;
}

@media (max-width: 400px) {
  iframe {
    height: 200px;
  }
}