.movie-items-container { 
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto auto auto;
}

.movie-item {
  height: 300px;
  margin-bottom: 20px;
} 


@media (max-width: 1000px) {
  .movie-items-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 750px) {
  .movie-items-container {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 400px) {
  .movie-items-container {
    grid-template-columns: auto auto;
  }
}